/test*.c
/*.out

# pdfs

/pdfs/*.*
!/pdfs/*.subj.pdf
!/pdfs/en.norm.pdf

# libft directory
/0_libft/*

!/0_libft/ft_*.c
!/0_libft/libft.h
!/0_libft/Makefile
!/0_libft/README.md

# ft_printf directory

/1_ft_printf/**/**

!/1_ft_printf/ft_*.c
!/1_ft_printf/ft_*.h
!/1_ft_printf/libft
!/1_ft_printf/Makefile
!/1_ft_printf/README.md
!/1_ft_printf/ft_put/ft_*.c
!/1_ft_printf/ft_put/ft_*.h
